<!DOCTYPE html>
<html>
  <head>
    <title>Word Counter</title>
    <link rel="stylesheet" type="text/css" href="/content/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/content/css/styles.css">
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1><strong>WORD</strong>COUNTER</h1>
      </div>
    </div>
    <div class="container">
      @RenderBody()
    </div>
  </body>
</html>
