<!DOCTYPE html>
<html>
  <head>
    <title>Word Counter</title>
    <link rel="stylesheet" type="text/css" href="/content/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/content/css/styles.css">
  </head>
  <body>
    <div class="container">
      @RenderBody()
    </div>
  </body>
</html>
