@{
  Layout="Shared/_Layout.cshtml";
}



<form action="/result" method="post">
  <div class="form-group">
    <div class="row">
      <div id="left-col">
        <label for="user-search-word">Enter the word you want to search for:</label>
        <br>
        <input type="text" name="user-search-word">
      </div>
      <div id="right-col">
        <label for="user-text">Enter the block of text you want to search:</label>
        <br>
        <textarea name="user-text"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <button type="submit" class="btn">Submit</button>
  </div>
</form>
